*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/back.png);
}

.wrapper{
    height: 350px;
    margin: 100px auto;
    position: relative;
    width: 700px;
}

.slider{
    height: inherit;
    width: inherit;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slide{
    height: inherit;
    width: inherit;
    opacity: 0;
    position: absolute;
    z-index: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scale(1.5);
}

.slide1{
    background-image: url(img/car_1.jpg);
}

.slide2{
    background-image: url(img/car_2.jpg);
}

.slide3{
    background-image: url(img/car_3.jpg);
}

.slide4{
    background-image: url(img/car_4.jpg);
}

.slide5{
    background-image: url(img/car_5.jpg);
}

#slide1:checked ~ .slider > .slide1{
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

#slide2:checked ~ .slider > .slide2{
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

#slide3:checked ~ .slider > .slide3{
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

#slide4:checked ~ .slider > .slide4{
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

#slide5:checked ~ .slider > .slide5{
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.wrapper > input{
    display: none;
}

.wrapper .controls{
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

.wrapper label{
    cursor: pointer;
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 12px 12px 0 16px;
    position: relative;
    border-radius: 50%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

#slide1:checked ~ .controls label:nth-of-type(1){
    background-color: white;
}

#slide2:checked ~ .controls label:nth-of-type(2){
    background-color: white;
}
#slide3:checked ~ .controls label:nth-of-type(3){
    background-color: white;
}
#slide4:checked ~ .controls label:nth-of-type(4){
    background-color: white;
}
#slide5:checked ~ .controls label:nth-of-type(5){
    background-color: white;
}

.wrapper label::after{
    content: "";
    display: block;
    border: 2px solid white;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    top: -4px;
    left: -4px;

}



